/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */ 
body {	
	color: #666666; 	
	margin: 0; 
	padding: 0; 
	background: #FFF; /*-- url(../images/bg.gif) repeat-x; */
	text-align: center;
}

/* Links */
a:link, a:visited {
	text-decoration: none;
	color: #0788C3;
}
a:hover {
	border-bottom: 1px dotted #0788C3;
}
a:link.more-link, a:visited.more-link {
	padding-bottom: 2px;
	font-weight: bold;
	color: #0788C3;
	border-bottom: 1px dotted #0788C3;
}
a:hover.more-link {
	text-decoration: none;
}

p.pub a {
	display: block;
}

/* Headers */
h1, h2, h3, h4 {
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', Times, serif, STKaiti, Kaiti; 
	color: #000;
	margin: 10px 10px 7px 10px;	 
}
h1 { font-size: 2.5em; font-weight: normal; letter-spacing: -2px; }
h2 { font-size: 2.0em; font-weight: normal; }
h3 { font-size: 1.5em; font-weight: normal; letter-spacing: -0.5px; padding-top: 5px; }
h4 { font-size: 1.2em; }

/* Lists */
ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}
ul { list-style: disc; }
ol { list-style: decimal; }

ul.honors {
	margin: 10px 20px;
	padding: 0 20px;
	line-height: 12px;
	list-style: disc; 
}

dt {
  font-weight: bold;
  color: #1980AF;	
}
dd {
  padding-left: 20px; 
}

p { 
	font-family: Georgia, 'Times New Roman', Times, Helvetica, serif; 
	font-size: 12pt;
	color: #333;
	margin: 10px 20px; 
}

p.center{
	font-size:12pt;
	text-align:center;
}

p.pub{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:12pt;
}



p.pubyear{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:14pt;
}

p.pub-intro{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:11pt;
	font-style: italic;
}

/* Images */
img {
	background: #FFFFFF;
    border: 1px solid #E4E4E4;
}
img.float-right {
  	margin: 5px 0px 10px 10px;  
}
img.float-left {
  	margin: 5px 10px 10px 0px;
}

code {
  	margin: 3px 0;
  	padding: 15px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace;
  	/* white-space: pre; */
  	border: 1px solid #F0F0F0;
	background: #F8F8F8;  
}

acronym {
  cursor: help;
  border-bottom: 1px dotted #555;
}
blockquote {
	margin: 10px 20px;
 	padding: 10px 10px 10px 32px;  
   border: 1px solid #F0F0F0;
	background: #f8f8f8 url(../images/quote.gif) no-repeat 12px 12px;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif; 
	color: #555;	
}
strong {
	font-weight: bold;
}

/* start - table */
table {
	font-family: Arial, serif;
	font-size:12pt;
	border-collapse: collapse;
	margin: 3px 3px;		
}
tr { background: #FFF; }
tr.altrow { background: #F9F9F9;	}
tr {
	color: #333; 
}
td {	
	padding: 3px 3px;	
}	
/* end - table */

/* form elements */
form {
	margin: 10px 20px; 
	padding: 15px 25px 25px 25px; 
	border: 1px solid #F0F0F0;
	background: #F8F8F8;
}
form p {
	border-bottom: 1px solid #E6E6E6;
	padding: 12px 0 5px 0;	margin: 0;	
	color: #666666;
}
label {
	font-weight: bold;
	color: #666666;
}

#name, #email, #message, #website {
	width: 380px;
}

/* ------------------------------------------
   LAYOUT
------------------------------------------- */ 
.wrap {
	width: 800px;
	margin: auto;
	/*align: center;*/
	text-align: left;	
}


/* Header */
#header {
	position: relative;
	margin-top: 20px;
	height: 320px;		
}
#header h1#headername { margin: 0; padding: 0 0 0 25px; }
#header h2#headername { margin: 0; padding: 0 0 0 25px; }
#header h1#headername a {
	position: absolute; 
	margin: 0; padding: 0 5px 0 0;
	font: bold 62px 'Trebuchet MS', 'Helvetica Neue', Georgia, 'Times New Roman', Times, serif;  
	letter-spacing: -5px;
	color: #1980AF;	
	text-decoration: none;
		
	/* change the values of top and left to adjust the position of the logo*/
	top: 30px; left: 30px;	
}
#header h1#headername a:hover { border: none; }
#header p#intro {
	position: relative;
	margin: 0; padding:  0 5px 0 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 13px;
	line-height: 1.8em;
	font-style: italic;
	font-weight:bold;
	letter-spacing: -.3px;
	color: #666;	
	/* change the values of top and left to adjust the position */
	top: 0px; left: 32px;		
}

#header #header-image {
	position: absolute;
	top: 5px; right: 30px;
	width: 180px;
	height: 240px;
	/* background: url(../images/julius_small.gif) no-repeat; */
}

/*  navigation  */
#header #nav {
	position: absolute;
	left: 0px;	bottom: 10px;		
	margin: 0; padding: 0 0 0 10px;		
	width: 900px;		
	border-bottom: 1px solid #F2F2F2;	
	/* z-index: 99999; */
}
#header #nav ul {
	float: left;	
	list-style: none;	
	margin: 0;
	padding: 0;					
}
#header #nav ul li {
	float: left;
	margin: 0; padding: 0;			
}
#header #nav ul li a:link,
#header #nav ul li a:visited {
	float: left;
	margin: 0;
	padding: 5px 15px 10px 15px;
	color: #333;
	font: bold 14px Georgia, 'Times New Roman', Times, serif; 
	text-transform: uppercase;		
	border-right: 1px solid #EEE;	
}
#header #nav ul li a:hover, 
#header #nav ul li a:active {
	border: none;
	color: #000;	
	border-right: 1px solid #EEE;
}

#header #nav ul li.first a:link, 
#header #nav ul li.first a:visited {
	border-left: 1px solid #F1F1F1;	
}

/* Content */
.content {
	float: left;
	width: 900px;
	display: inline;
	padding-bottom: 0px;
}

/* columns */
#left {
	width: 580px;	
	float: left;	
	padding-top: 15px;	
}
#right {
	width: 285px;
	float: right;
	padding-top: 5px;
}

#right h3 {
	margin-left: 5px;	
}
#left h2 {
	font: normal 3.6em Georgia, 'Times New Roman', Times, serif; 
	color: #444;	
	letter-spacing: -2.2px;	
	margin-bottom: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	border-bottom: 1px solid #EBEBEB;	
}
#left h2 a {
	color: #444;
	border: none; 
}
#left .entry {
	background: url(../images/dotted-lines.gif) repeat-x left bottom; 
	padding-bottom: 15px;
}
#left .entry h3 a {
	color: #444;
	border: none;
}

/* footer */
#footer-bottom {
	float: left;
	clear: both;
	background: url(../images/dotted-lines.gif) repeat-x;
	width: 920px;
	font-family: Times, Arial, serif;
	font-size: 1.2em;	
	font-style: italic;	
	color: #777;
	border-bottom: 10px solid #FFF; 
}
#footer-bottom a:hover { border: none; }

/* comments list */
ol.commentlist {
	margin: 12px 20px;
	padding: 0;
	border-style: solid;	
	border-color: #F0F0F0;	
	border-width: 1px 1px 0 1px;
}
.commentlist li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0; 
}
.commentlist li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.commentlist li cite img {
	float: left;
	margin-right: 10px;	
}
.commentlist li cite .comment-data {
	font-size: .8em;
	font-weight: normal;
}
.commentlist li .comment-text {
	clear: both;
	margin: 0; padding: 5px 0 0 0;
}
.commentlist li.alt {
	background: #F8F8F8; 
}

/* archives */
ul.archive {
	background: url(../images/dotted-lines.gif) repeat-x left top; 
	margin: 15px 20px 20px 20px;
	padding: 0;	
}
ul.archive li {
	list-style: none;
	background: url(../images/dotted-lines.gif) repeat-x left bottom; 
	margin: 0;
	padding: 10px 5px;
}
ul.archive li .post-title {
	margin: 0;
	padding: 0;
	font-size: 1.2em;	
}
ul.archive li .post-title a {
	color: #555;
}
ul.archive li .post-title a:hover {
	border: none;
	color: #222;
}
ul.archive li .post-details {
	font-size: .9em;
	margin-left: 0;
	margin-top: 0;
}
ul.archive li .post-details a {
	border: none;
}

/* pagenavigation */
.page-navigation {
	margin: 10px 20px 10px 20px;
	padding: 5px 15px;
	background: #F9F9F9;	
	border: 1px solid #F0F0F0;	
	width: 510px;
}
.page-navigation a:hover {
	border: none;
	color: #333;
}

/* thumbnails */
p.thumbs { 
	padding: 10px 0 0 0px; 
	margin: 0 0 0 15px;
}
.thumbs img { 
	position: relative;
	padding: 8px;
	margin: 4px;
	background: #FAFAFA;
   border: 1px solid #EDEDED;	
}
.thumbs img:hover	{
	border: 1px solid #D2D2D2;	
}
.thumbs a:hover { background-color: transparent; border: none }

