/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */ 
body {	
	color: #666666; 	
	margin: 0; 
	padding: 0; 
	background: #FFF; /*-- url(../images/bg.gif) repeat-x; */
	text-align: center;
}

textarea {
	max-height: 100px;
}

