/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */ 
body {	
	color: #666666; 	
	margin: 0; 
	padding: 0; 
	background: #FFF; /*-- url(../images/bg.gif) repeat-x; */
	text-align: center;
	font-family: Garamond, Calibri, serif;
}

textarea {
	max-height: 100px;
	font-family: Garamond, Calibri, serif;
}

table {
	margin: auto;
	border: 1px solid black;
	font-family: Garamond, Calibri, serif;
}

td {
	border: 1px solid black;
}

#input_textfield {
	width: 100%;
	margin: auto;
}

#display {
	width: 100%;
	margin: auto;
}

#Datamaran_logo {
	width: 600px;
	height: 200px;
}